<!DOCTYPE html><html lang="en-US"><head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <meta name="theme-color" content="#ffffff" />
 <meta name="robots" content="noindex, nofollow" />
 <style>
body { background: #cde; color: #321; text-align: center; margin: 0px; }
 </style>
</head><body>

	<div style="height: 100vh; display: flex; flex-flow: column wrap; justify-content: center">
	<span style="flex: 0 1 auto; margin: auto;">
		<h1 id="clock">&nbsp;</h1>
		<p style="font-size: small">This server started on:</p>
		<h2 id="boot">&nbsp;</h2>
	</span>
	</div>

<script type='text/javascript'>
	/* https://stackoverflow.com/questions/951021/what-is-the-javascript-version-of-sleep/39914235#39914235 */
	function sleep(ms) {
		  return new Promise(resolve => setTimeout(resolve, ms));
	}

	async function update_clock() {
		var uptime = {{uptime}} * 1000;
		var server_boot = new Date();
		server_boot.setTime( uptime );

		var server_time = {{time}} * 1000;
		var printed = new Date();
		var last = (new Date()).getTime();
		while( 1 ) {

			// only need to update the boot time once
			if( server_boot != null ) {
				var target = document.getElementById("boot");
				if( target ) {
					target.innerText = server_boot.toLocaleString();
					target.title = server_boot.toString();
					server_boot = null;
					}
				}

			var target = document.getElementById("clock");
			var now = (new Date()).getTime();
			var delta = (now - last);
			server_time += delta;
			printed.setTime( server_time );
			if( target ) {
				target.innerText = printed.toLocaleString();
				target.title = printed.toString();
				}
			last = now;
			await sleep( 100 );
			}
		}
	update_clock();
</script>
</body></html>
